{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 13.955516603330654,
    "longitude": 100.66974627769892,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Asia/Bangkok",
    "external_url": null,
    "internal_url": null,
    "currency": "THB",
    "country": "TH",
    "language": "en",
    "radius": 100
  }
}